
.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(77, 255, 251, 0.25);
}
.switch button {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 100%;
  margin: 10px 10px;
}
.rating button {
  margin-right: 7px;
}

.greenButton {
  background-color: #8fff00;
  font-weight: bold;
  border: 2px solid black;
}

.redButton {
  background-color: #ff0000;
  font-weight: bold;
  border: 2px solid black;
}
.whiteButton {
  background-color: #ffffff;
}
